.headers {
    background: url('wallpaper2you_97630.gif');
    width: 100%;
    height: 250px;
}

a,
a:visited {
    display: inline;
    font-size: large;
    color: white;
    text-decoration: none;
}

footer {
    background: url('Chernobylite-4K-Wallpaper-1.jpg');
    font-size: large;
    width: 100%;
    height: 100px;
}