.headers {
    display: inline;
    background-color: black;
}

h1 {
    background-color: black;
    color: whitesmoke;
}

nav {
    background-color: #000000;
}

.links,
.links:visited {
    font-size: large;
    color: whitesmoke;
    text-decoration: none;
}

footer>* {
    align-items: center;
    background-color: #000000;
    color: whitesmoke;
    display: inline;
    font-size: large;
}

img {
    width: 100%;
    height: 200px;
}