    {% extends 'base.html' %}
    {% block titulo %}Início{% endblock %}
    {% block conteudo}
    <h2>Meus Jogos</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-default">
        <tr>
            <th>
                <h2><strong> Nome </strong></h2>
            </th>
            <th>
                <h2><strong> Categoria </strong></h2>
            </th>
            <th>
                <h2><strong> Video Game </strong></h2>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for jogo in jogos %}
        <tr>
            <td>{{jogo.nome}}</td>
            <td>{{jogo.categoria}}</td>
            <td>{{jogo.video_game}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}